@import "src/assets/styles/global/constants";
@import "src/assets/styles/global/colors";

.p-registration {
  min-height: fit-content;
  max-height: 60rem;
  width: 30rem;
  margin: 0 auto;
  border: 0.1rem solid $p-color-black;
  &__header {
    font-size: $p-heading-1;
    color: $p-color-black;
    &__icon {
      height: 10rem;
      &--left {
        height: 3rem;
      }
      &--right {
        color: blue;
      }
    }
  }
}
