@import "src/assets/styles/global/main";

.container {
    width: 60%;
    display: flex;
    position: fixed;
    top: 50%;
    border: 0.5px solid gray;
    height: 5rem;
    border-radius: .5rem;
}

