@import "src/assets/styles/global/main";

.p-button {
  min-width: min-content;
  border-radius: $p-button-border-radius;
  background-color: $p-primary-button-background;
  color: $p-color-white;
  font-size: 3rem;
  font-family: "Roboto-Regular";
  cursor: pointer;

  &:disabled {
    opacity: $p-opacity;
    cursor: not-allowed;
  }
}
