@import "src/assets/styles/global/main";

.p-button {
  min-width: min-content;
  border-radius: $p-button-border-radius;
  background-color: $p-primary-button-background;
  color: $p-color-white;
  font-size: 2.5rem;
  font-family: "Roboto-Thin";
  cursor: pointer;

  &:disabled {
    opacity: $p-opacity;
    cursor: not-allowed;
  }

  @media only screen and (max-width: $bp-small) {
    border-radius: 1.5rem;
  }
}
