@import "src/assets/styles/global/main";

.p-fallback {
  height: 100vh;
  background-color: $p-color-f7;
  background-size: cover;

  &__wrapper {
    margin: 0 4rem;
    padding: 0 4rem;

    &__message {
      color: $p-color-black;
      font-family: "Roboto-Thin";
      flex: 0 0 50%;
      margin: 0 6rem;

      @media only screen and (max-width: $bp-medium) {
        margin: 0 4rem;
      }

      @media only screen and (max-width: $bp-small) {
        margin: 0 2rem;
      }

      &__code {
        font-size: 18rem;
        font-weight: 900;
        line-height: 1.2;

        @media only screen and (max-width: $bp-medium) {
          font-size: 13rem;
        }

        @media only screen and (max-width: $bp-small) {
          font-size: 8rem;
        }
      }

      &__text {
        font-size: 3rem;

        @media only screen and (max-width: $bp-medium) {
          font-size: 2rem;
        }

        @media only screen and (max-width: $bp-small) {
          font-size: 1.5rem;
        }

        &__info {
          font-weight: 900;
        }
      }
    }
    &__image {
      margin: 0 6rem;
      flex: 0 0 50%;

      @media only screen and (max-width: $bp-medium) {
        margin: 0 4rem;
      }

      @media only screen and (max-width: $bp-small) {
        margin: 0 2rem;
      }
    }
  }
}
