@import "../../assets/styles/global/colors.scss";
@import "../../assets/styles/global/breakpoint.scss";

@mixin padding($top: 0.3rem, $side: 3rem, $down: 0.3rem) {
  padding: $top $side $down;
}

.wrapper {
  width: 35rem;
  border-radius: 2rem;
  margin-top: 3rem;
  box-shadow: 0 0 1rem $p-color-a0;
  cursor: pointer;

  @media only screen and (max-width: $bp-xlarge) {
    width: 30rem;
  }

  img {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    height: 30rem;
    object-fit: cover;

    @media only screen and (max-width: $bp-xlarge) {
      height: 25rem;
    }

    @media only screen and (max-width: $bp-small) {
      height: 20rem;
    }
  }

  .box {
    @include padding;
    .pin {
      height: 2rem;
      cursor: pointer;

      @media only screen and (max-width: $bp-small) {
        height: 1.4rem;
      }
    }

    .name {
      font-size: 2rem;
      font-weight: 600;
      padding-right: 1rem;

      @media only screen and (max-width: $bp-small) {
        font-size: 1.4rem;
      }
    }
  }

  .rate {
    @include padding;
    font-size: 1.5rem;
    border-bottom: 1px solid $p-color-light-grey;

    @media only screen and (max-width: $bp-small) {
      font-size: 1.2rem;
    }
  }

  .facility {
    @include padding(0.5rem, 3rem, 1rem);
    font-size: 1.3rem;

    &-item {
      flex: 0 0 33%;
    }

    &-name {
      padding-left: 1rem;
    }

    &-icon {
      height: 1rem;
      margin-right: 1rem;
    }
  }
}
