@import "src/assets/styles/global/main";

.p-input {
  height: 100px;
  &__label {
    color: black;
  }
  &__container {
    border-radius: 7px;
    height: 50px;
    width: 590px;
    padding: 10px;
    border-radius: 8pt;
    border: 0.5pt solid rgba(0, 0, 0, 0.5);
    font-size: 20pt;
    font-family: "Roboto-Light";

    &--errors {
      border: 1px solid $p-error-color;
      opacity: 0.5;
    }

    &--errors:focus {
      outline: none;
    }

    &:focus {
      background-color: #ffff;
    }
  }

  &__error {
    color: $p-error-color;
    width: max-content;
    font-size: 15pt;
    opacity: 0.5;
    font-family: "Roboto-Light";
  }
}
