@import "src/assets/styles/global/main";

.p-input {
  min-height: $p-input-height;

  &__label {
    color: $p-color-black;
  }
  &__container {
    height: $p-input-container-height;
    width: 100%;
    border-radius: $p-input-border-radius;
    border: 0.5pt solid rgba(0, 0, 0, 0.5);
    font-size: 14pt;
    font-family: "Roboto-Light";
    padding-left: 1.5rem;
    outline: none;
    min-width: -webkit-fill-available;
    max-width: -webkit-fill-available;

    &--errors {
      border: 0.1rem solid $p-error-color;
      opacity: $p-opacity;

      &:focus {
        outline: none;
      }
    }

    &:focus {
      background-color: $p-color-white;
    }
  }

  > div > svg {
    height: 2rem;
    padding-right: 0.5rem;
  }

  &__error {
    display: flex;
    flex-direction: row;
    width: max-content;
    padding-left: 1.5rem;
    padding-top: 0.5rem;
    &__message {
      color: $p-error-color;
      font-size: 14pt;
      opacity: $p-opacity;
      font-family: "Roboto-Light";
    }
  }
}
