@import "src/assets/styles/global/main";

.p-input {
  padding: 0.5rem 0 0.5rem 0;

  &__label {
    color: $p-color-black;
  }

  &__container {
    padding: 1rem 1.5rem 1rem 1.5rem;
    border-radius: $p-input-border-radius;
    border: 0.07rem solid rgba(0, 0, 0, 0.5);
    font-size: $p-input-font-size;
    outline: none;
    min-width: fill-available;
    max-width: fill-available;
    min-width: -moz-available;
    max-width: -moz-available;

    @media only screen and (max-width: $bp-medium) {
      font-size: 1.4rem;
      padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    }

    &__icon {
      left: 92%;
      > svg {
        height: 2rem;
      }

      @media only screen and (max-width: $bp-medium) {
        > svg {
          height: 1.8rem;
        }
      }

      @media only screen and (max-width: $bp-small) {
        > svg {
          height: 1.6rem;
        }
      }

      @media only screen and (max-width: $bp-extra-small) {
        left: 90%;
        > svg {
          height: 1.4rem;
        }
      }
    }

    &--errors {
      border: 0.1rem solid $p-error-color;
      opacity: $p-opacity;

      &:focus {
        outline: none;
      }
    }

    &:focus {
      background-color: $p-color-white;
    }
  }

  &__error {
    width: max-content;
    padding: 0.5rem 0 0.5rem 1.5rem;

    @media only screen and (max-width: $bp-medium) {
      padding: 0.25rem 0 0.25rem 0.5rem;
    }

    &__message {
      color: $p-error-color;
      font-size: $p-input-font-size;
      opacity: $p-opacity;

      @media only screen and (max-width: $bp-medium) {
        font-size: 1.4rem;
      }
    }

    > div > svg {
      height: 1.7rem;
      padding-right: 0.25rem;

      @media only screen and (max-width: $bp-medium) {
        height: 1.5rem;
      }
    }
  }
}
