$p-primary-button-background: #e1b382;
$p-error-color: #ff0000;
$p-color-grey: #c3c3c3;
$p-color-light-grey: #eeeeee;
$p-color-white: #ffffff;
$p-color-black: #000000;
$p-color-17: #171717;
$p-color-c0: #c0c0c000;
$p-color-ec: #ececec;
$p-primary: #e1b381;
$p-color-a0: #a0a0a0;
$p-color-blue: #5b77b2;
$p-color-white2: #f7f7f7;
