$p-heading-1: 2.4rem;
//button component
$p-button-height: 5rem;
$p-button-border-radius: 3.5rem;
//input component
$p-input-height: 10rem;
$p-input-container-height: 5rem;
$p-input-border-radius: 8pt;

//onbording
$p-onboarding-border-radius: 5.5rem;
$p-onboarding-width: 65rem;
$p-onboarding-height: 73rem;

$p-opacity: 0.5;

//logo
$p-logo-height: 13rem;
$p-logo-width: 13rem;
