$p-heading-1: 24px;
//button component
$p-button-height: 50px;
$p-button-border-radius: 35px;
//input component
$p-input-height: 100px;
$p-input-container-height: 50px;
$p-input-border-radius: 8pt;

//onbording
$p-onboarding-border-radius: 55px;
$p-onboarding-width: 686px;
$p-onboarding-height: 773.5px;

$p-opacity: 0.5;

//logo
$p-logo-height: 100px;
$p-logo-width: 100px;
