@import "../../../../assets/styles/global/colors.scss";
@import "../../../../assets/styles/global/breakpoint.scss";

.footer {
  background-color: $p-color-blue;
  padding: 3rem 0;
  font-size: 1.2rem;
  color: $p-white;

  @media only screen and (max-width: $bp-xlarge) {
    padding: 3rem;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 1rem;
    padding: 3rem 1rem;
  }

  &-content {
    width: 140rem;
    margin: auto;

    @media only screen and (max-width: 1400px) {
      width: 100%;
      margin: 0;
    }
  }

  .nav {
    list-style: none;
    padding: 0;
    width: 40%;

    @media only screen and (max-width: $bp-medium) {
      width: 60%;
    }

    &__item {
      flex: 0 0 50%;
      padding: 1rem;
    }

    a {
      color: $p-white;
    }

    &__link:hover,
    &__link:active {
      background-color: rgba($p-white, 0.3);
      padding: 1rem;
      color: $p-white;
      transform: translateY(-3px);
    }
  }

  .contact-section {
    font-size: 1.2rem;
    color: $p-white;
    padding: 1rem;

    .social-icon {
      height: 3rem;
      margin-right: 1rem;
      cursor: pointer;
    }

    @media only screen and (max-width: $bp-small) {
      font-size: 1rem;
      .social-icon {
        height: 2.5rem;
      }
    }
  }

  .copyright {
    margin: 1rem auto 0 auto;
    text-align: center;
    width: 70%;
  }
}
