@import "../../../../assets/styles/global/colors.scss";
@import "../../../../assets/styles/global/breakpoint.scss";

.menu {
  background: $p-color-white;
  color: $p-color-black;
  position: relative;

  .logo {
    padding: 1rem 6rem;
    height: 8rem;

    @media only screen and (max-width: $bp-xlarge) {
      padding: 1rem 3rem;
    }

    @media only screen and (max-width: $bp-medium) {
      padding: 0rem 3rem;
    }
  }

  &-box {
    width: 100%;
  }

  &-nav {
    padding: 0 !important;
    height: 100%;
    font-size: 2rem;
    list-style: none;

    @media only screen and (max-width: $bp-xlarge) {
      display: none !important;
    }

    @media only screen and (max-width: $bp-medium) {
      padding-left: 1rem;
      font-size: 2rem;
    }

    @media only screen and (max-width: $bp-medium) {
      font-size: 1.7rem;
    }

    .margin {
      margin-right: 6rem;

      @media only screen and (max-width: $bp-small) {
        margin-right: 2rem;
      }

      &-username {
        margin-right: 4rem;

        @media only screen and (max-width: $bp-medium) {
          margin-right: 0.5rem;
        }
      }
    }
  }

  &-item {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    background-image: linear-gradient($p-color-17, $p-color-17),
      linear-gradient($p-color-c0, $p-color-c0);
    background-size: 0 2px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all 0.5s ease-out;

    @media only screen and (max-width: $bp-medium) {
      margin: 0 1.2rem;
    }

    @media only screen and (max-width: $bp-medium) {
      margin: 0 1rem;
    }

    &:hover,
    &:active {
      background-size: 100% 2px, auto;
      color: $p-color-black;
    }

    img {
      margin-right: 0.5rem;
    }

    &__username {
      @media only screen and (max-width: $bp-medium) {
        display: none;
      }
    }
  }

  &__wrapper {
    @media only screen and (min-width: $bp-xlarge) {
      display: none !important;
    }

    &__hamburger {
      padding: 2.5rem 2.5rem;
      height: 7rem;
      width: auto;
      cursor: pointer;
    }

    &__user {
      cursor: pointer;
    }
  }
}

.menu-content {
  border-top: 1px solid $p-color-ec;
  padding: 2rem 6rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  position: absolute;
  z-index: 9;
  background-color: $p-color-white;
  width: -webkit-fill-available;
  width: -moz-available;

  @media only screen and (max-width: $bp-medium) {
    padding: 2rem 2.5rem;
  }

  @media only screen and (max-width: $bp-xlarge) {
    display: none !important;
  }

  ul {
    padding-left: 2rem;
    list-style-image: url("../../../../assets/images/circle.svg");

    li {
      padding-bottom: 0.5rem;
    }
  }

  .box {
    width: 100%;
  }

  .country {
    flex: 0 0 35%;
    padding: 1rem 5rem 1rem 0;

    @media only screen and (max-width: $bp-medium) {
      flex: 0 0 90%;
    }

    @media only screen and (max-width: $bp-small) {
      flex: 0 0 100%;
    }

    &-name {
      cursor: pointer;
      font-size: 2rem;
      margin: 0 0 1rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid $p-color-ec;
    }

    .country-wrapper {
      .region {
        cursor: pointer;
        font-size: 1.7rem;
        margin: 0 0 0.5rem;
      }

      .place {
        font-size: 1.5rem;
        cursor: pointer;
      }
    }
  }
}

.user-content {
  border: 1px solid $p-color-ec;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  position: absolute;
  z-index: 9;
  background-color: $p-color-white;
  margin-right: 4.5rem;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.3);

  width: 20%;
  right: 0;

  @media only screen and (max-width: $bp-small) {
    width: 50%;
  }

  &__item {
    padding: 1.5rem 3rem;
    font-size: 1.5rem;
    text-decoration: none;

    a {
      color: $p-color-black !important;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $p-color-ec;
    }
  }
}

.menu-mobile {
  transition: max-height 0.5s ease;
  -webkit-transition: max-height 0.5s ease;
  -moz-transition: max-height 0.5s ease;

  @media only screen and (min-width: $bp-xlarge) {
    display: none;
  }

  &-content {
    border-top: 1px solid $p-color-ec;
    padding: 0;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    background-color: $p-color-white;
    width: -webkit-fill-available;
    width: -moz-available;
    flex-direction: column;

    &-item {
      cursor: pointer;
      font-size: 2rem;
      border-bottom: 1px solid #ececec;

      @media only screen and (max-width: $bp-xlarge) {
        font-size: 1.5rem;
      }

      a {
        color: $p-color-black;

        img {
          margin-right: 0.5rem;
        }
      }

      &__img {
        margin-right: 1rem;
      }

      .place-box {
        padding: 0 2rem;

        @media only screen and (max-width: $bp-xlarge) {
          font-size: 1.5rem;
        }
      }

      :hover {
        color: $p-color-black;
      }
    }

    &-item:not(:nth-child(2)) {
      padding: 1.5rem 3rem;
    }

    .destination-menu {
      font-size: 2rem;

      .destination-panel {
        .ant-collapse-header {
          padding-left: 4rem !important;
        }
      }
    }

    .ant-collapse {
      border: none !important;
      background-color: $p-color-white;

      &-item {
        border: none !important;
      }

      &-content {
        border: none !important;
      }

      &-header {
        padding-left: 3rem !important;

        @media only screen and (max-width: $bp-xlarge) {
          font-size: 1.5rem;
          padding: 0.5rem 0 3rem 0.5rem;
        }
      }

      &-content-box {
        padding: 0 1.6rem !important;
      }
    }
  }
}

.destination-image {
  height: 24rem;
  width: 48rem;
  align-self: center;
  object-fit: cover;

  @media only screen and (max-width: $bp-large) {
    height: 20rem;
  }

  @media only screen and (max-width: $bp-medium) {
    height: 15rem;
  }

  @media only screen and (max-width: $bp-small) {
    display: none;
  }
}
