@import "src/assets/styles/global/main";

.p-login {
  height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url(../../../assets/images/zakynthos-JPEG.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  &__wrapper {
    width: 100%;
    &__container {
      width: 100%;
      //max-width: $p-onboarding-width;
      //max-height: $p-onboarding-height;
      background-color: $p-color-white;
      padding: 2rem 5rem 6rem 5rem;
      border-radius: $p-onboarding-border-radius;

      &__logo {
        max-height: $p-logo-height;
        //width: $p-logo-width;
      }

      &__label {
        width: 95%;
        text-align: center;
        line-height: 0.1em;
        margin: 1rem 0 1rem;

        & > h1 {
          display: flex;
          flex-direction: row;
          font-size: 40pt;
          font-family: "Roboto-Thin";
          font-weight: 300;
        }

        & > h1:before,
        & > h1:after {
          content: "";
          flex: 1 1;
          border-bottom: 0.25rem solid $p-primary-button-background;
          margin: auto;
        }

        & > h1:before {
          margin-right: 1rem;
        }

        & > h1:after {
          margin-left: 1rem;
        }
      }

      &__form {
        width: 100%;
        flex-direction: column;

        &__forgot {
          margin-top: -4rem;
          align-self: flex-end;
          padding-right: 1.5rem;
          font-size: 12pt;
          color: $p-color-grey;
          font-family: "Roboto-Light";
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }



  &__or {
    width: 95%;
    text-align: center;
    line-height: 0.1em;
    margin: 3rem 0 3rem 0;

    & > h1 {
      display: flex;
      flex-direction: row;
      font-size: 20pt;
      font-family: "Roboto-Light";
      font-weight: 300;
      color: $p-color-grey;
    }

    & > h1:before,
    & > h1:after {
      content: "";
      flex: 1 1;
      border-bottom: 0.25rem solid $p-color-grey;
      margin: auto;
    }

    & > h1:before {
      margin-right: 1rem;
    }

    & > h1:after {
      margin-left: 1rem;
    }
  }

  //&__fbgoolge {
  //  display: inline-block;
  //
  //  & > img {
  //    padding: 1rem;
  //    width: 26rem;
  //  }
  //}

  &__button {
    width: 17.4rem;
  }
}
